<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup" (change)="log(contact)">
        <div *ngIf="!contact.valid"></div> <!-- entire group is valid or not -->
        <div class="form-group">
                <label for="firstName">First Name</label>
                <input   
                    required  
                    minlength="3" 
                    maxlength="10" 
                    pattern="Mary" 
                    type="text" 
                    class="form-control" 
                    name="firstName" 
                    ngModel 
                    id="firstName" 
                    #firstName="ngModel" 
                    (change)="log(firstName)"/>
                <div 
                    class="alert alert-danger" 
                    *ngIf="firstName.touched && !firstName.valid">
                        <div *ngIf="firstName.errors.required"> 
                            First name is required
                    </div>  
                        <div *ngIf="firstName.errors.minlength">
                            First name should be minimum {{firstName.errors.minlength.requiredLength}} characters.
                    </div>
                        <div *ngIf="firstName.errors.pattern">
                            First name should be Mary
                    </div>
                </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" cols="30" rows="10" class="form-control" ngModel name="comment" #comment="ngModel"></textarea>
        <div class="alert alert-danger" *ngIf="comment.touched && !comment.value">Comment is required</div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isSubscribed">Subscribe to mailing list
        </label>
    </div>
    <div class="form-group">
        <label for="contactMethod"></label>
        <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">  <!-- add  "multiple" to select multiple items -->
            <option value=""></option>
            <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>  <!-- add  [ngValue]="method" instead value to get object not string of selected item -->
        </select>
    </div>
    <div *ngFor="let method of contactMethods" class="radio">
        <label for="">
            <input ngModel type="radio" name="contactMethod" [value]="method.id">
            {{method.name}}
        </label>
    </div>
    <p>{{f.value | json}}</p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>