<!-- <contact-form></contact-form> -->
<!-- <signup-form></signup-form> -->
<!-- <app-new-course-form></app-new-course-form> -->
<!-- <app-posts></app-posts> -->


<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet>
<h1>Hey</h1> -->

<ul *ngFor="let course of courses$ | async">
    <li>
        {{course.payload.node_.value_}}
        <button (click)="update(course)">Update</button>
    </li>
</ul>

<button (click)="getContent()">getContent</button>
<!-- <p>
    {{course$ | async | json}}
</p>
<p>
    {{author$ | async | json}}
</p>  -->

<input type="text" (keyup.enter)="add(course)" #course>
<!-- <ul>
    <li>{{(author$ | async)?.name }}</li>
    <li>{{(author$ | async)?.students}}</li>
    <li>{{(author$ | async)?.isPremium}}</li>
</ul> -->
<!-- <button (click)="add()">add</button> -->

<!-- <ul *ngIf="author$ | async as author">
    <li>{{author.name}}</li>
    <li>{{author.students}}</li>
    <li>{{author.isPremium}}</li>
</ul> -->